form {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  width: 40% ;
  margin: 2em auto;
}

h1 {
  margin: auto;
  text-align: center;
}

textarea {
  margin: auto;
  width: 91%;
}

input{
  margin:1em;
}

.button{
  width: 30%;
  margin: 1em auto;
}